[build]
builder = "DOCKERFILE"
dockerfilePath = "apps/api/Dockerfile"
 
[deploy]
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 10

[healthcheck]
path = "/health"
timeout = 100
interval = 60
